namespace Scenic.Editor.Commands.{{Namespace}}
{
    [ScenicCommand("{{wireCommand}}")]
    public sealed class {{Namespace}}{{Action}}CommandHandler : ICommandHandler
    {
        public object Handle(CommandRequest request)
        {
            var parameters = {{Namespace}}{{Action}}CommandParams.From(request);

            // TODO: Implement command logic

            return new {{Namespace}}{{Action}}CommandResult
            {
                // TODO: Populate result fields
            };
        }
    }
}
